<html>
    <head>
        <title>PhoneGap Desktop</title>
    </head>
    <body>
        <h1>PhoneGap Desktop in Electron</h1>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>

        <div id="widget-root" style="border: solid 1px black">

            <div id="widget-info">
                <input type="label" id="widget-name" v-model="name">
                <input type="label" id="widget-version" v-model="version">
                <input type="image" id="widget-icon" v-link="icon">
                <a id="widget-url" v-link="localPath">{{localPath}}</a>
            </div>

        </div>

            <script>
                new Vue({
                    el: '#widget-root',
                    data: {
                        name: 'hello world',
                        version: 'v1.0',
                        icon: 'icon.png',
                        localPath: 'http://www.google.com',
                    }
                })
            </script>


    </body>
</html>
